body {
    font-family: Arial, sans-serif;
    background: linear-gradient(#eebbbb, #884299);
    margin: 0;
    padding: 0;
}
/* SECCION MENU */
.contact-container {
    max-width: 800px;
    margin: 80px auto; /* Mayor margen superior para separarlo del menú fijo */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 116, 116, 0.1);
}

h2, h3 {
    color: #333;
}

p {
    color: WHITE;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-top: 10px;
    font-weight: bold;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
    padding: 10px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

.contact-form button {
    padding: 10px;
    margin-top: 20px;
    background-color: purple;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}

.contact-form button:hover {
    background-color: #218838;
}

.contact-info {
    margin-top: 30px;
}

.contact-info p {
    margin: 5px 0;
}

.map-container {
    margin-top: 30px;
}

.map-container iframe {
    width: 100%;
    border-radius: 8px;
    height: 300px; /* Añadido para asegurarse de que el mapa tenga altura */
}
